body{
    font-size:17px;
    color:#fff;
    background-size:cover;
}

.nav-top{
    background-color: transparent;
    color: red;
}

.nav-top ul li a{
    font-size: 18px;
    color: darkred;
}

#navigasi-bar{
    margin-left: 10%;
    margin-right: 10%;
}

#nav-foot{
    margin-top: 10%;
    padding-top: 8%;
    height: 370px;
    background-image: url('bg_footer.svg');
    background-size:cover;
}
hr{
    background-color: #fff;
}

.text-foot ul li a, .text-foot{
    color: #fff;
}

.img-logo-footer{
    height: 15%;
    width: 15%;
}

.container-img-foot{
    padding-left: 15%;
    padding-bottom: 3%;
}

.img-carousel-top{
    margin-top: 3%;
}

#highlight-menu{
    margin: 15px;
}

.highlight-menu-1{
    height: max-content;
    width: max-content;
    padding: 2px;
    background-color: transparent;
}

.text-menu-1{
    padding-top: 5%;
    
}

.baris-menu, .row-contact{
    border-radius: 25px;
    background-color: #f7f7f9;
    margin-top: 20px;
    padding: 2%;
}

.btn-sign{
    margin-right: 5%;
}

.logo{
    padding-right: 15px;
    padding-left: 5px;
    height: 50px;
}
.navbar-brand{
    margin: 0;
    padding: 0;
}

.bor-contact{
    border-left: 6px solid black;
    height: fit-content;
}
.stopwatch-font{
    color: red;
    font-size: 78px;
}

.stopwatch-btn{
    padding-right: 2%;
}

.thumb{
    border-radius: 25px;
    padding: 2%;
}
